@import "tailwindcss";
@font-face {
    font-family: 'HelveticaCustom';
    src: url('/public/font/helvetica.ttf') format('truetype');
}

.text-shadow-3d {
    text-shadow:
        1px 1px 0 #db2777,
        2px 2px 0 #be185d,
        3px 3px 0 #9f1239,
        4px 4px 0 #881337,
        5px 5px 0 #701a3f,
        4px 4px 3px rgba(0,0,0,0.5);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

* {
    font-family: 'HelveticaCustom', sans-serif;
}

body{
    background-color: #f388ae;
}

.helvetica-font {
    font-family: 'HelveticaCustom';
}

.bg-primary-1{
    background-color: #f388ae;
}

.border-primary-1{
    border-color: #f388ae;
}

.bg-primary-1:hover{
    background-color: #f388ae;
}
/*
.gradient-background {
  background: linear-gradient(348deg,#5f404a,#da277b,#ca90a9,#3241e7);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
