@import "tailwindcss";
@font-face {
    font-family: 'HelveticaCustom';
    src: url('/public/font/helvetica.ttf') format('truetype');
}

* {
    font-family: 'HelveticaCustom', sans-serif;
}

body{
    background-color: #f388ae;
}

.helvetica-font {
    font-family: 'HelveticaCustom';
}

.bg-primary-1{
    background-color: #f388ae;
}

.border-primary-1{
    border-color: #f388ae;
}

.bg-primary-1:hover{
    background-color: #f388ae;
}
/*
.gradient-background {
  background: linear-gradient(348deg,#5f404a,#da277b,#ca90a9,#3241e7);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
